.demo {
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.demo2 {
  width: 200px;
  height: 200px;
  background-image: url('../images/v.jpg');
  background-size: cover;
}
.demo3 {
  width: 200px;
  height: 200px;
  background-image: url('../images/r.jpg');
  background-size: cover;
}
